/* Coolors Exported Palette - coolors.co/555555-777777-eeeeee-e67e22-f39c12 */

/* HSL */
$color1: hsla(0%, 0%, 33%, 1);
$color2: hsla(0%, 0%, 47%, 1);
$color3: hsla(0%, 0%, 93%, 1);
$color4: hsla(28%, 80%, 52%, 1);
$color5: hsla(37%, 90%, 51%, 1);

/* RGB */
$color1: rgba(85, 85, 85, 1);
$color2: rgba(119, 119, 119, 1);
$color3: rgba(238, 238, 238, 1);
$color4: rgba(230, 126, 34, 1);
$color5: rgba(243, 156, 18, 1);