.addCard {
  width: 100%;
  display: flex;
  justify-content: flex-end;
	flex-wrap: wrap;
	background-color: #ffc966;
  border: 1px blue solid;
  font-size: 12px;
}
.form-row-AddCard  {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}
.form-row-input-AddCard {
  margin-top: 5px;
  padding: 5px;

}
.btnC{
	padding: 5px 10px;
	color: #000;
	border-radius: 3px;
  font-size: 12px;
  margin-right: 15px;
}
.btnC:hover
.btnC:active {
	background-color: purple;
	color: #fff;
}



/*

color palette
	#ffc966;

  */