* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 10px;
}
.add {
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
	background-color: aliceblue;
  border: 2px black dashed;
}
/* .wrapper {
  background-color: aliceblue;
  border: 2px black dashed;
} */
.form-row {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.button {
  background-color: blueviolet;
}