.add {
  width: 100%;
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
	background-color: aliceblue;
  border: 1px black dashed;
}
.form-row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}
.form-row-input {
  margin-top: 5px;
  padding: 5px;

}
