.addCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #f8f8f8;
  border: 2px #064784 solid;
  border-radius: .5rem;
  margin-bottom: 2rem;
}
.input-AddCard {
  margin-top: .4rem;
  padding: .4rem;
  background-color:white;
}
#label-addCard {
  font-size: 1.5rem;
}
.btn-addCard {
  align-items: center;
}