.addList {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content:space-evenly; */
  padding: 1rem;
  background-color: #f8f8f8;
}
.input-addList {
  margin-top: .5rem;
  padding: .5rem;
  background-color:white;
}
#label-addList {
  font-size: 1.5rem;
}
.row-addList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn-addList1 {
align-self: flex-start;
}
.btn-addList2 {
  align-self: flex-end;
  }
/*
width: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /*
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #E4F8E2;
  */