.dash {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.edit{
	margin: 20px 0;
}
.flex {
	border: 2px black solid;
}

.onBoard1 {
	order: 2;
}
.onBoard2 {
	order: 5;
}
.onBoard3 {
	order: 2;
}
.onBoard4 {
	order: 3;
}