.dash {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.edit{
	margin: 20px 0;
}
.flex {
	/* align-items: stretch; */
	/* display:flex; */
	/* flex-wrap: wrap; */
	/* flex-direction: row; */
	/* justify-content: flex-end; */
	border: 2px black solid;
}
/* .titleList {
	flex-grow: 2;
	align-items: flex-start;
}
.classList {
flex-grow: 2;
	align-items: flex-end;
} */