.card {
	background-color: #fff;
	border: 1rem solid #cddae6;
	border-radius: .5rem;
}
ul {
  display: flex;
  flex-direction:column;
}
li {
	list-style-type: none;
	padding: 1px 0;
	display:flex;
	justify-content: flex-start;

}
.title {
	text-align: center;
	padding: .5rem 0;
  background-color: #f8f8f8;
  color: #064784;
}
