.card {
  border: 1px orange solid;
}
ul {
  display: flex;
  flex-direction:column;
  /*justify-content: flex-start; */
}
li {
	list-style-type: none;
	padding: 1px 0;
	display:flex;
	justify-content: flex-start;
}
.title {
  text-align: center;
  font-size: 20px;
  background-color: #555;
  color: orange;
}
