#managerWrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: .3rem solid #F39C12;
}
#classManager{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #fff;  /* TODO */
}
#classList{
	flex:1;
}
#titleList {
	flex:1;
	align-self: stretch;
}
.btn-wrapper {
	display: flex;
	flex-direction: row
}
#managerBtn {
	width: 100%;
	align-self: center;
	padding: 1rem;
	padding: 1rem;
	font-size: 2rem;
	background-color: #ffc966;
	color: #064784;
}
#managerBtn:hover,
#managerBtn:active {
	background-color:#064784;
	color: #ffc966;
}