.classlist {
color: green;
border: 1px green dotted;
background-color: #eee;
font-size: 15px;
display:flex;
flex-direction: column;
flex-wrap: wrap;
}
.classTitle {
	font-size: 18px;
	align-self: center;
}
.classRoom{
	list-style-type: none;
	padding: 6px;

}
.student {
	margin-top: 5px;
}
.btn{
	padding: 5px 10px;
	background-color: #ffc966;
	color: #000;
	border-radius: 3px;
	font-size: 12px;
}
.btn:hover
.btn:active {
	background-color: purple;
	color: #fff;
}
.btn-large {
	padding: 10px;
	font-size: 20px;
	background-color: #fff;
	color: purple;
	border: 5px #ffc966 solid;

}
.btn-large:hover
.btn-large:active {
	background-color: purple;
	color: #fff;
}