.classlist {
color: #000;
border: 5px #555 solid;
background-color: #eee;
font-size: 1.5rem;
display:flex;
flex-direction: column;
flex-wrap: wrap;
}
.classTitle {
	background: #ddd;
	padding: .5rem;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	text-transform: uppercase;
}
.classRoom{
	list-style-type: none;
	padding: .6rem;

}
.student {
	padding: 1rem;
	font-size: 1.5rem;
}
/* .btn{
	padding: .5rem 1rem;
	background-color: #F39C12;
	color: #000;
	border-radius: 3px;
	font-size: 1.5rem;
	text-transform: uppercase;
}
.btn:hover
.btn:active {
	background-color: #777;
	color: #fff;
}
.btn-large {
	padding: 1rem;
	font-size: 2rem;
	background-color: #fff;
	color: #ffc966;
	border: 5px #ffc966 solid;

}
.btn-large:hover
.btn-large:active {
	background-color: purple;
	color: #fff;
} */