#managerWrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: .3rem solid #F39C12;
}
#classManager{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#classList,
#titleList {
	align-items: flex-end;
	}

.btn-wrapper {
	display: flex;
	flex-direction: row
}
#managerBtn {
	width: 100%;
	align-self: center;
	font-size: 1.5rem;
	padding: 1rem;
	padding: 1rem;
	font-size: 2rem;
	background-color: #ffc966;
	color: #064784;
}
/* .btn {
	font-size: 1.5rem;
	padding: .5rem;
	margin: 1rem 1rem 1rem 0;
	border-radius: .2rem;
	background-color: #fff;
	color: #064784;
	align-self: flex-start;
} */
#managerBtn:hover,
#managerBtn:active {
	background-color:#064784;
	color: #ffc966;
}