.list{
	width: 100%;
	transition:all 0.4s ease-in-out;
 }
.collapsible {
	background-color: #f5fafe;
	color: #000;
	cursor: pointer;
	padding: 1rem;
	width: 100%;
	border: none;
	border-top: .1rem solid #064784;
	text-align: left;
	outline: none;
	font-size: 2rem;
	display:flex;
	justify-content: space-between;
}
.active,
.collapsible:hover {
	background-color: #064784;
	color: #f1f1f1;
}
.content {
	padding: 0 1.8rem;
	font-size: 1.2rem;
	display: none;
	overflow: hidden;
	background-color: #cddae6;
}
.collapsible::after {
	content: ' \21E9'; /* Unicode character for arrow */
	color: #064784;
}
.collapsible::after::hover {
	content: ' \21E9'; /* Unicode character for arrow */
	color: #ffc966;
}
.collapsible.active::after {
	content: '\2613';/* Unicode character for X sign */
	 color: #ffc966;

}
.edit {
	 width: 100%;
	 font-size: 1.5rem;
	 padding: .5rem .5rem 0 .5rem;
}