.logInForm {
  display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px blueviolet dotted;
}
.rowL:nth-child(1){
	background-color: red;
}
.rowL:nth-child(2){
	background-color: orange;
}
.rowL:nth-child(3){
	background-color: yellowgreen;
}