#teacherOnBoard {
display: flex;
flex-wrap: wrap;
flex-direction: column; /*  TODO */
/* flex-direction: row; */
justify-content: stretch;
transition:all 0.5s ease-in-out;
}
.howTo {
padding: 1rem;
font-size: 1.5rem;
text-align: center;
}
.howTo span{
	background-color: #064784;
	color: #f8f8f8;
	text-transform: uppercase;
	padding: .3rem .5rem;
}
.onBoard1 {
	order: 1;
	border: .3rem solid transparent;
}
.onBoard1:hover {
	order: 1;
	border: .3rem solid red;
}
.onBoard1 .after {
	flex-grow: 1;
	display: none;
	display: visible;
}
.onBoard1:hover .after {
	display: block;
	background: rgba(255, 0, 0, .6);

}
.onBoard2 {
	order: 2;
	border: .3rem solid transparent;
}
.onBoard2:hover{
	border: .3rem solid blue;
}
.onBoard2 .after {
	flex-grow: 1;
	display: none;
}
.onBoard2:hover .after {
	display: block;
	background: rgba(0, 0, 255, .6);
}
.onBoard3 {
	order: 3;
	border: .3rem solid transparent;
}
.onBoard3:hover {
	border: .3rem solid green;
}
.onBoard3 .after {
	flex-grow: 2;
	display: none;
}
.onBoard3:hover .after {
	display: block;
	background: rgba(0, 128, 0, .5);
}
.onBoard4 {
	order: 4;
	border: .3rem solid transparent;
}
.onBoard4:hover {
	border: .3rem solid orange;
}
.onBoard4 .after {
	flex-grow: 1;
	display: none;
}
.onBoard4:hover .after {
	display: block;
	background: rgba(255, 165, 0, .5);
}
.after {
	flex-grow: 1;
}
.after p {
	font-size: 2rem;
	padding: 1rem;
	color: #eee;
}
.after_black p {
	color:black;
}
.btn-dash, NavLink {
	width: 100%;
	font-size: 1.8rem;
	text-decoration: none;
	color: #064784;
	text-transform: uppercase;
}
.btn-dash:hover,
.btn-dash:active {
	color: #ffc966;
	background-color: #064784;
}