#teacherOnBoard {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: stretch;

}
.onBoard1 {
	order: 1;
	border: .5rem solid red;
border-radius: .6rem;}
.onBoard2 {
	order: 2;
	border: .5rem solid blue;
}
.onBoard3 {
	order: 3;
	border: .5rem solid green;
}
.onBoard4 {
	order: 4;
	border: .5rem solid purple;
}
.onBoard5 {
	order: 5;
	border: .5rem solid purple;
}