.register{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	border: 5px#000 solid;
	padding: 15px;
	font-size: 15px;
	background-color: #eee;
}
.row{
	padding:10px 10px 5px 10px;
	border: none;
}
Input{
	padding: 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #444;
	background-color: #fff;
	width: 100%;
}