.register{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	border: .5rem #064784 solid;
	padding: 1.5rem;
	font-size: 1.5rem;
	background-color: #f8f8f8;
}
.row{
	padding:1rem 1rem .5rem 1rem;
	border: none;
	margin: .5rem;

}
Input{
	padding: .5rem;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #444;
	background-color: #fff;
	width: 100%;
	margin-bottom: 1rem;
}
label.row {
	padding-top: 1rem;
}
.btn-large {
	width: 100%;
}