.title-list{
	color: #000000;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: stretch;

}
h3{
	font-size: 2rem;
}
.title{
	background: #f8f8f8;
	color: #064784;
	padding: .5rem;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
}
.sub-title {
	padding: 1rem;
	font-size: 1.5rem;
}
ul {
	list-style-type: none;
}