.title-list{
	background-color:#eee;
	color: #F39C12;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border: 5px solid #555;
}
.title{
	background: #ddd;
	padding: .5rem;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	text-transform: uppercase;
}
.sub-title {
	padding: 1rem;
	font-size: 1.5rem;
}