* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
    background-image: linear-gradient(to right, rgba(255, 255, 255,.85),rgba(255, 255, 255,.4),rgba(255, 255, 255,.85)),  url("img/pastel-background2.jpeg");
}
body {
  padding: .4rem;
}