* {
  margin: 0;
  padding: 0;

}
html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body {
  font-family: sans-serif;
}

/* color possibilities
background-color:#fff;
background: #eee;
background-color: #555;
color: #000;
background-color: #ffc966;
  color: orange;
  */


/* .btn{
	padding: 5px 10px;
	background-color: #ffc966;
	color: #000;
	border-radius: 3px;
	font-size: 12px;
}
.btn:hover
.btn:active {
	background-color: purple;
	color: #fff;
}
.btn-large {
	padding: 10px;
	font-size: 20px;
	background-color: #fff;
	color: purple;
	border: 5px #ffc966 solid;

}
.btn-large:hover
.btn-large:active {
	background-color: purple;
	color: #fff;
} */
