* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
	font-size: 62.5%;
	/* background-image: url("img/pastel-background2.jpeg"); */
}
body {
	font-family: sans-serif;
}
h3{
	font-size: 2rem;
}
.btn-large {
	margin-top: 1rem;
	padding: 1rem 1rem 1.2rem 1rem;
	font-size: 20px;
	background-color: #ffc966;
	color: #064784;
}
.btn-large:hover,
.btn-large:active {
	background-color: #064784;
	color: #ffc966;
}
.btn {
	font-size: 1.5rem;
	padding: .5rem;
	margin: 1rem 1rem 1rem 0;
	border-radius: .2rem;
	background-color: #fff;
	color: #064784;
	align-self: flex-start;
}
.btn:hover,
.btn:active {
	background-color: #ffc966;
	color: #064784;
}
Input{
	padding: 1rem;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #444;
	background-color: #fff;
	width: 100%;
	font-size: 1.5rem;
}
p {
	font-size: 1rem;
	margin: .5rem;
}
.label{
	font-size: 1.5rem;
}
/* color possibilities
background-color:#fff;
background: #eee;
background-color: #555;
color: #000;
background-color: #ffc966;
	color: orange;

	#F1C40F    SUN FLOWER
#F39C12    ORANGE - font color for titles
#E67E22    CARROT
#D35400    PUMPKIN

//============

#26E0DF
//============
#FCA129

#F09625

#75A91F

#F7F5F4

#EAF0F5

#F2F7F6

#FFFFFF


//============
MDN pages
#E4F8E2  ==table inner row columns background

#C7E2CD  ==button

#369B45  == tiny accent

#4287A5  ==button

#BBD0E3

#4287A5 == line divider

#0A559D == tiny accent

#E9EEF1 == table background

#FFFFFF ==page

#222222 ==header background

#86D0F0 == header font
//=================
W3school
#F1F1F1 == side panel background


	background-color: #C7E2CD;

	background-color: #FDF1E2;
	background-color: #f3f7f3;
$color-primary:#f39c12; NavBar title

$color-secondary:#e67e22;

$color-gray-background:#fff;

$color-gray-light:#eee;

.color-gray-light {
	background-color: #ddd;  component background
	}

$color-gray-medium: #777; NavBar backgrouns

$color-gray-dark:#555;



.color-primary {
background-color: #fff;  body color
}
.color-secondary {
background-color: #eee
	}

.color-gray-medium {
	background-color: #ccc;
	}
.color-gray-dark {
	background-color: #bbb;
	}

	color: #005D85;
	color: #1abaff;
	color: #06447F;
  */

/*
background-color: #f8f8f8;
navbar



*/